*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html,body{
    background-color:#F3F3F3;
    height: 100%;
    width: 100%;
}
#main{
    min-height: 100%;
    width: 100%;
    
}
#nav{
align-items: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#left{
    display: flex;
    gap: 90px;
    padding-left:80px;
    padding-top: 5px;
}
#right{
    display: flex;
    gap: 90px;
    padding-right:80px;
    padding-top: 5px;
}
#left h5{
    font-weight: 200;
    text-transform: uppercase;
    width:100px;
    text-align: center;
}
#right h5{
    
    font-weight: 200;
    text-transform: uppercase;
    width:150px;
    text-align: center;
}
#right i{
    display: none;
}

#center{
 
    width: 100%;
    position: relative;
}
#center img{
    position: absolute;
    height: 180px;
    width: 220px;
}
#image1{
    opacity:1 ;
position: absolute;
overflow: hidden;
 top: 70px;
    left: 250px;
}
#image2{
    position: absolute;
overflow: hidden;
top: 280px;
left: 100px;

}
#image3{
    position: absolute;
overflow: hidden;
    left: 65vw;
    top: 4vw;
}
#image4{
    position: absolute;
overflow: hidden;
    left: 80vw;
    top: 20vw;
}
#text{
    position: relative;
    display: flex;
    justify-content: center;
}
#text h1{
  width: 910px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 6.5vw;
}


@media (max-width:600px) {
    #nav{
    align-items: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
    #one{
        display: none;
    }
    #two{
        display: none;
    }
    #three{
        display: none;
    }
    #right i{
        display: block;
    }
    #center img{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 140px;
        width: 200px;
    }
    #image1{
        opacity:1 ;
    position: absolute;
    overflow: hidden;
    top: 190px;
    left: 160px;
    }
    #image2{
        opacity:1 ;
    position: absolute;
    overflow: hidden;
    top: 340px;
    left: 160px;
    }
    #image3{
        opacity:1 ;
    position: absolute;
    overflow: hidden;
     top: 490px;
        left: 160px;
    }
    #image4{
        opacity:1 ;
    position: absolute;
    overflow: hidden;
     top: 40px;
        left: 160px;
    }
    #text h1{
        margin-top: 120px;
        width: 910px;
          text-align: center;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 14.5vw;
      }
      
}